body { 
	background: url(../img/landing.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.unitTable {
	color: #353535;
	padding : 10px 10px 10px 10px;
	background-color: white;
	border: 1px solid #E7E7E7;
	border-bottom: 1px solid #DDD;
	-webkit-box-shadow: 0 5px 5px 0 black;
	-webkit-border-radius: 5px;	
}
