$color-major: blue;
$color-dominant: red;
$color-minor: yellow;
$color-diminished: lime;
$color-background: whitesmoke;
$color-shadow: black;
$button-angle: 0.125em;
$panel-angle: 0.375em;
$tile-angle: 0em;

@mixin border-radius($val){
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  -ms-border-radius: $val;
  -o-border-radius: $val;
  border-radius: $val;
}

body{
  background-color: $color-background;
}

.header{
    background-color: white;
    @include border-radius($panel-angle $panel-angle 0 0);
    text-align:center;
}

