.number_bubble{
  width: 28px;
  height: 28px;
  border: 2px solid white;
  line-height: 30px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  @include border-radius(16px);
  
  &.dullgray{
    color: $gray;
    background-color: white;
    @include bg-linear-gradient(-45deg, $gray-rgb-start, $gray-rgb-stop);
  }
  &.orange{
    color: white;
    background: $orange;
    @include bg-linear-gradient(-45deg, $orange-rgb-start, $orange-rgb-stop);
  }
  //need to switch to image for IE compatibility
  .ie7 &, .ie8 &, .ie9 &{
    width: 32px;
    height: 32px;
    border: 0;
    line-height: 32px;
    background: url("/images/number_bubbles.png") no-repeat;
    &.dullgray{ background-position: 0px -32px;}
    &.orange{ background-position: 0px 0px;}
  }
}



.active_tile{
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid $orange-rgb-start;
  line-height: 20px;
  text-align: center;
  color: white;
  background: $orange;
  @include bg-linear-gradient(0deg, $orange-rgb-start, $orange-rgb-stop);
  @include border-radius(0 0 8px 0);
}



.v-up{
  width: 19px;
  height:auto;  
  .v{
    width: 5px; 
  	height: 25px; 
  	display: inline-block;
  	background-color: $orange;
  	@include border-radius(3px);
  }
  .left{
    @include transform-rotate(40deg);
  }
  .right{
    margin-left: 8px;
    @include transform-rotate(140deg);
  }
  &:hover{
	  .v{
	    background-color: white;
    }
	}
	//need to switch to image for IE compatibility
  .ie7 &, .ie8 &, .ie9 &{
    width: 31px;
    height: 21px;
    background: url("/images/boomerang_arrows.png") no-repeat;
    background-position: 0 0;
    .v{
      display: none;
    }
    &:hover{
  	  background-position: 0 -40.6px;
  	}
  }
}
.v-down{
  width: 19px;
  height:auto;  
  .v{
    width: 5px; 
  	height: 25px;
  	display: inline-block;
  	background-color: $orange;
  	@include border-radius(3px);
  }
  .left{
    @include transform-rotate(140deg);
  }
  .right{
    margin-left: 9px;
    @include transform-rotate(40deg);
  }
  &:hover{
	  .v{
	    background-color: white;
    }
	}
	//need to switch to image for IE compatibility
  .ie7 &, .ie8 &, .ie9 &{
    width: 31px;
    height: 21px;
    background: url("/images/boomerang_arrows.png") no-repeat;
    background-position: 0 -20.9px;
    .v{
      display: none;
    }
    &:hover{
  	  background-position: 0 -61px;
  	}
  }
}

.triangle_plus{
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  .triangle {
    width: 43px;
    height: 43px;
    @include transform-rotate(45deg);
    margin-top: -23px;
    margin-left: 10px;
    background-color: $orange;                
    @include box-shadow(1px 2px 5px #888888);
  }
  .plus{
    width:12px;
    height:12px;
    margin-top: -17px;
    margin-right: 3px;
    position: relative;
    float:right;
    div:first-child{
      margin-left: 5px;        
      width:2px;
      height:12px;
      background-color: white;
    }
    div:last-child{
      margin-top: -7px;
      width:12px;
      height:2px;
      background-color: white;
    }
  }   
}

.bubble{
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  @include border-radius(18px);
  background-color: $orange;
  @include bg-linear-gradient(0deg, $orange-rgb-start, $orange-rgb-stop);
  &:hover{
    background-color: white;
    @include bg-radial-gradient(center center, circle contain, $gray-rgb-stop, $gray-rgb-start);
    
    &.left .triangle, &.right .triangle{
        border-left-color: gray; 
        border-right-color: gray; 
    }
  }
  
  &.left .triangle{
    float:left;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 15px solid white;  
  }
  &.right .triangle{
    float:right;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 15px solid white; 
  }
  .triangle{
    width: 0; 
    height: 0;
    margin: 7px 8px;
  } 

  .ie7 &, .ie8 &, .ie9 &{
    
     background: url("/images/gallery_buttons.png") no-repeat;
     &.left .triangle, &.right .triangle{
       display:none;
     }
     &.left{
       background-position: -10px -128px;
       &:not(.disabled):hover {
         background-position: -10px -20px;
         cursor: pointer;
       }
     }
     &.right{
       background-position: -10px -181px;
       &:not(.disabled):hover {
         background-position: -10px -73px;
         cursor: pointer;
       }
     }
   }
}



