.wraphics{
  posistion: relative;
  .plus_sign{
    &:first-child{
      top: 0;
      width: 30%;
      margin-left: 20%;
      background-color: black;
    }
    &:last-child{
      left: 0;
      height: 30%;
      margin-top: 20%;
      background-color: black;
    }
  } 
}