$color-major: blue;
$color-minor: red;
$color-background: white;
$color-highlight: yellow;
$color-shadow: black;

@mixin background-gradient-linear($midcolor){
  $start-color: $midcolor + 100;
  $end-color: $midcolor - 50;
   background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
   background: -webkit-linear-gradient(top, $start-color, $end-color);
   background: -moz-linear-gradient(top, $start-color, $end-color);
   background: -ms-linear-gradient(top, $start-color, $end-color);
   background: -o-linear-gradient(top, $start-color, $end-color); 
}

.test{
  width: 100px;
  height: 100px;
  @include background-gradient-linear($color-minor);
}
