.wraphics{
  display: inline-block;
  vertical-align: middle;
  .plus_sign{
    position: relative;
    :first-child{
      position: absolute;
      width: 30%;
      height: 100%;
      margin-top: 0;
      margin-left: 35%;
      background-color: darkgray;
    }
    :last-child{
      position: absolute;
      height: 30%;
      width: 100%;
      margin-left: 0;
      margin-top: 35%;
      background-color: darkgray;
    }
  } 
  .equal_sign{
    position: relative;
    :first-child{
      position: absolute;
      height: 30%;
      width: 100%;
      margin-left: 0;
      margin-top: 15%;
      background-color: darkgray;
    }
    :last-child{
      position: absolute;
      height: 30%;
      width: 100%;
      margin-left: 0;
      margin-top: 60%;
      background-color: darkgray;
    }
  }
}