<div class="container" style="margin-top:200px;">
  <div class="row-fluid">

    <div class="span6 offset3 unitTable" style="opacity: 0.8; text-align:center;">

      <h1 style="opacity:1;"><img src="img/dropbox_logo.png" style="width:100px; height:100px;">Simplyi.Me</h1>

      <p class="lead">Express who you are with drops of files in your Dropbox!</p>

      <span id="dropbox_login" class="label label-info" style="font-weight:bold;font-size:2em;padding:10px; cursor:pointer;">Connect With Dropbox</span>

    </div>
  </div>
</div>
<a style="position:absolute; right:0; bottom:0;" href="http://photosapiens.ca/">Photo from http://photosapiens.ca/</a>