<link href="css/styles/landing.css" rel="stylesheet" media="screen">
<div class="container row-fluid" style="margin-top:200px;">
  <div class="span10 offset1 inner_wrapper">
    <div class="row-fluid">
      <div class="span12 header">
        <h1>Simplyi.Me</h1>
        <img src="img/dropbox_logo.png" style="width:100px; height:100px;"><img src="img/dropbox_logo.png" style="width:100px; height:100px;"><img src="img/dropbox_logo.png" style="width:100px; height:100px;">
        <p class="lead">Transform your Dropbox into the most Beautiful Site!</p>
        <button id="dropbox_login">Connect your Dropbox now</button>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p><i>css3 animated demo</i><p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 footer">
        <p><i>put team and contact info here</i><p>
      </div>
    </div>
  </div>
</div>
