<script type="text/template" id="mainTemplate">
	<link rel="stylesheet" href="css/styles/layoutViewStyles.css"/>
	<div id="inner">
		<div class="page-header">
			<h1>{{display_name}} <small>from {{country}}</small></h1>

		
		</div>
		<div class="container">
			<div class="row">
				<div id="imageBox">
					{{#files}}
							<div class="box col2">
								<img src="{{dir}}"/>
							</div>
					{{/files}}
				</div>
			</div>
		</div>
		<div id="footer" class="well well-small">
			<p><b>{{about}}</b> <br>{{aboutMsg}}</p> 
		</div>
	</div>
</script>

<script type="text/template" id="audio">
<div style="height:200px;">			
	<p id="songTitle"><b>Playing : {{song}}</b></p>
	<audio controls>
		<source src="{{src}}" type="{{type}}">
		YOUR BROWSER DOES NOT SUPPORT AUDIO!!
	</audio>
</div>
</script>

<script type="text/template" id="text">
	<p><b>{{titleText}}</b></p>
	<p>{{message}}</p>
</script>
