<script type="text/template" id="mainTemplate">
	<link rel="stylesheet" href="css/styles/layoutViewStyles.css"/>
	<div id="inner">
		<div class="page-header" style="padding-left: 100px;">
			<h1>{{display_name}} <small>from {{country}}</small></h1>
			<a href="#myModal" role="button" class="btn" data-toggle="modal">you friends</a>
		</div>
		<div class="container">
			<div class="row">
				<div id="imageBox">
					{{#files}}
							<div class="box col2">
								<img src="{{dir}}"/>
							</div>
					{{/files}}
				</div>
			</div>
		</div>
		<div id="footer" class="well well-small">
			<h3>Page Viewed By :</h3>
		</div>
	</div>
</script>

<script type="text/template" id="audio">
<div style="height:200px;">			
	<p id="songTitle"><b>Playing : {{song}}</b></p>
	<audio controls>
		<source src="{{src}}" type="{{type}}">
		YOUR BROWSER DOES NOT SUPPORT AUDIO!!
	</audio>
</div>
</script>

<script type="text/template" id="text">
	<p><b>{{titleText}}</b></p>
	<p>{{message}}</p>
</script>

<script type="text/template" id="stalkers">
<!-- Bootstrap Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Your Friends</h3>
      </div>
      <div class="modal-body">
        {{#data}}
	<p><a href="{{stalkerInfo.link}}">
	{{stalkerInfo.name}} </a> viewed this page at 
		<span class="time">{{time}}</span></p>
{{/data}}
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>

<script>
