/* My CSS */
body {
  background: black;
  padding-top: 10px;
  font-size: 0.8em;
  font-family: "Tahoma", serif;
}

#inner {
    width: 95%;
    margin: 0px auto;
}

#container1 {
	margin: auto 5px;
}

#description {
  font-size: 20px;
  color: black;
}

#footer {
  background: #dddddd;
  border: none;
}

#songTitle {
  font-size: 20px;
  color: black;
}

.img {
  margin: 4px;
  background: #999999;
  float: left;
}

.col { width: 200px; }
.col2 { width: 400px; }