/* My CSS */
body {
  background: #dddddd;
  font-size: 0.8em;
  font-family: "Tahoma", serif;
}

#inner {
    width: 95%;
    margin: 0px auto;
}

#container1 {
	margin: auto 5px;
}

#description {
  font-size: 20px;
  color: black;
}

#footer {
  background: #dddddd;
  border: none;
}

#songTitle {
  font-size: 20px;
  color: black;
}

.img {
  margin: 4px;
  background: #999999;
  float: left;
}

.col { width: 180px; }
.col2 { width: 380px; }

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
