// This file must be imported before loading html5-boilerplate

$base-font-family: (Arial, Verdana, 'sans-serif');

$base-font-size: 13px;

$base-line-height: 1.231;

$font-color: #666;

$link-color: #ff6800;

$link-hover-color: #ff6800;

$link-active-color: #ff6800;

$link-visited-color: #ff6800;

$selected-font-color: #fff;

$selected-background-color: #ff6800;

$list-left-margin: 2em;